.section-four {
  width: 100%;
  height: 700vh;
  position: static;

  z-index: -50;
}

.section-four-sticky-cotainer {
  width: 100%;
  height: 120vh;
  // position: block;
  display: flex;
  position: sticky;
  top: 1vh;
}

.section-four-left-side {
  width: 40%;
  height: 100vh;
  margin-left: 2.5vw;
}

.section-four-text-left {
  position: relative;
  top: 40%;

  h3 {
    font-size: 5.3vw;
    line-height: 4.5vw;
    font-weight: 800;
    letter-spacing: -0.3vw;
  }

  span:nth-child(2),
  span:nth-child(3) {
    color: transparent;
    -webkit-text-stroke: 1px white;
  }
}

.section-four-right-side {
  width: 30%;
  height: 100vh;
  margin-left: 2.5vw;
  position: sticky;
  top: 0vh;
  left: 100%;
}
.section-four-text-right {
  position: absolute;
  top: 40%;

  li {
    list-style: none;
    border-bottom: 1px solid white;
    font-family: var(--font-rounded);
    font-size: 1.4vw;
  }

  p {
    margin-top: 15px;
    font-family: var(--font-rounded);
    font-size: 0.8vw;
  }
}

.orange-text {
  span:nth-child(1),
  span:nth-child(3) {
    color: transparent;
    -webkit-text-stroke: 1px white;
  }
  span:nth-child(2) {
    color: white;
  }
}

.zinc-text {
  color: black;

  li {
    border-bottom: 1px solid black;
  }

  span:nth-child(1),
  span:nth-child(2) {
    color: transparent;
    -webkit-text-stroke: 1px black;
  }
  span:nth-child(3) {
    color: black;
    -webkit-text-stroke: 0;
  }
}

// IMAGES

.first-fruit {
  position: absolute;
  top: 0;
  width: 300px;
  max-width: 100%;

  filter: blur(3px);
}
.second-fruit {
  position: absolute;
  width: 300px;
  max-width: 100%;
  transform: rotate(40deg);
}
.third-fruit {
  position: absolute;
  top: 60%;
  width: 400px;
  max-width: 100%;
  transform: rotate(15deg);
}
.fourth-fruit {
  position: absolute;
  top: 70%;
  width: 400px;
  max-width: 100%;
  transform: rotate(60deg);

  filter: blur(3px);
}

.oranges {
  opacity: 0;
  width: 200px;
}
.zinc {
  opacity: 0;
  width: 200px;
}
