.section-four {
    width: 100%;
    height: 500vh;
    position: static;
    border:  7px solid darkmagenta;
    z-index: -50;
}


.section-four-sticky-cotainer {
    width: 100%;
    height: 120vh;
    position: block;
    display: flex;
    position: sticky;
    top: 1vh;
    
  
    border: 8px solid black;
}

.section-four-left-side {
width: 40%;
height: 100vh;
margin-left: 2.5vw;


    


    h3 {
            font-size: 5.3vw;
            line-height: 4.5vw;
            font-weight: 800;
            letter-spacing: -0.3vw;

    }

    span {
        color: transparent;
        -webkit-text-stroke: 1px white;
    }
}

.section-four-right-side {
    width: 30%;
height: 100vh;
margin-left: 2.5vw;
position: sticky;
    top: 0vh;
        left: 100%;

       
        
            li {
                list-style: none;
                border-bottom:  1px solid white;
                font-family: var(--font-rounded);
                font-size: 1.4vw;
            
            }

            p {
                margin-top: 15px;
                font-family: var(--font-rounded);
                font-size: .8vw;

            }
        
}

// IMAGES

.first-fruit {
    position: relative;
    // top: -500px;
    width: 300px; 
    filter: blur(3px);
    
}
.second-fruit {
    position: relative;
    width: 300px;
    // opacity: 0.2;
 
}
    .third-fruit {
    position: relative;
    width: 400px;
;
} 
.fourth-fruit {
    position: relative;
    width: 400px;
    filter: blur(3px);


}
